html, body {
    height: 100%;
}

html {
    --black: #202020;
    --white: #F0F0F0;
    --offwhite: #DCDCDC;
    --offblack: #404040;
    --light: var(--white);
    --dark: var(--black);
    --offdark: var(--offblack);
    --offlight: var(--offwhite);
}

body {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    cursor: var(--cursor);
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background-color: var(--light);
    padding: 0 1rem;
    transition: padding 0.5s;
    max-width: 40rem;
    margin: auto;
}

* {
    font-family: var(--system-font);
    font-size: 1rem;
    color: var(--dark);
}

@media (prefers-color-scheme: dark) {
    html {
        --dark: var(--white);
        --light: var(--black);
        --offdark: var(--offwhite);
        --offlight: var(--offblack);
    }
}

.logo {
    position: relative;
    width: 5rem;
    height: 5rem;
    transform-style: preserve-3d;
    transform-origin: center center;
    animation: rotate 4s linear infinite;
    margin: 1rem 0;
    /*   transition: flex-basis 0.5s;
  flex-basis: 5rem; */
}

.logo svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: var(--dark);
}

.logo svg:nth-of-type(1) {
    transform: translateZ(0.4rem) rotateX(5deg);
}

.logo svg:nth-of-type(2) {
    transform: translateZ(-0.4rem) rotateX(-5deg);
}

.logo svg:nth-of-type(3), .logo svg:nth-of-type(4) {
    animation: flipflop 4s steps(1) infinite;
}

@keyframes rotate {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes flipflop {
    0% {
        transform: rotateY(0);
    }
    25% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

section.connect input:disabled {
    border: 0.1rem solid transparent;
    color: gray;
    cursor: var(--cursor);
}

input[type='button']:not(:disabled):hover:not(:active) {
    cursor: var(--pointer);
}

input[type='button']:not(:disabled):active {
    cursor: var(--pointed);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.me {
    padding: 0.1rem;
    border-bottom: 0.1rem solid var(--dark);
    --content: 'connecting...'
}

.me:not(:empty)::before {
    content: '\270e ';
    font-weight: bold;
}

.me:not(:empty) {
    cursor: text;
}

.me:empty::before {
    content: var(--content);
}

.me:empty {
    opacity: 0.5;
}

@media (max-aspect-ratio: 3/5) {
    .logo {
        flex-basis: 100%;
    }
    header {
        margin-bottom: 0.5rem;
    }
}

section.connect {
    display: flex;
    border: double var(--offlight);
    border-width: 0.4rem 0;
    padding: 0.5rem 0;
}

section.connect input {
    border: 0.1rem solid var(--dark);
    background-color: var(--offlight);
    padding: 0.5rem;
}

section.connect input[type='text'] {
    flex-grow: 1;
}

section.connect input[type='button'] {
    margin-left: 0.5rem;
}

section.chat {
    display: grid;
    grid-auto-rows: fit-content(0);
    grid-gap: 0.5rem;
    flex-grow: 1;
    padding-top: 1rem;
    box-sizing: border-box;
    overflow-y: scroll;
}

section.chat::after {
    content: var(--timestamp);
    justify-self: var(--timestamp-pos);
    color: gray;
    width: max-content;
    height: 2rem;
}

.bubble {
    color: var(--black);
    border: 0.3rem solid var(--dark);
    position: relative;
    max-width: 25rem;
    display: inline-block;
    justify-self: center;
    overflow: visible;
    margin: 0.5rem 2rem 1rem 2rem;
    border-image: var(--bubble-center-img) 6 / 2rem / 0.5rem 1rem 0.5rem 1rem stretch;
    background-color: #CCC;
}

.bubble.bubble-left {
    border-image: var(--bubble-left-img) 6 / 2rem / 0.5rem 1rem 0.5rem 2rem stretch;
    background-color: palegreen;
    justify-self: left;
}

.bubble.bubble-right {
    border-image: var(--bubble-right-img) 6 / 2rem / 0.5rem 2rem 0.5rem 1rem stretch;
    background-color: powderblue;
    justify-self: right;
}

section.compose {
    border-top: 0.4rem double var(--offlight);
    padding: 1rem 0;
    display: flex;
}

section.compose input {
    border: 0;
    background-color: var(--offlight);
    border: 0.1rem solid var(--dark);
    resize: none;
    height: 1rem;
    padding: 0.5rem;
    flex-grow: 1;
}

body {
    --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Helvetica, Arial, Cantarell, "Helvetica Neue", sans-serif;
    --pointer: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 22' width='18' height='22' version='1.1'%3E%3Cpath style='fill:%23000000;' d='m 5,18 h -1 v 2 h 1 z m -1,-2 H 3 V 18 H 4 Z M 3,14 H 2 v 2 H 3 Z M 2,13 h -1 v 1 h 1 z M 3,10 H -10e-8 V 13 H 1 V 11 H 3 V 10 m 2,-9 h -1 V 11 H 3 v 1 h 1 v 2 h 1 z m 2,0 v -1 H 5 v 1 z m 3,4 H 8 V 1 H 7 v 9 H 8 V 6 h 2 z M 13,6 h -3 v 4 h 1 V 7 H 13 V 6 m 2,1 H 13 v 4 h 1 V 8 h 1 z M 16,9 H 15 V 8 H 16 v 1 m 1,6 H 16 V 9 h 1 z m -2,3 H 16 v -3 h -1 v 3 M 5,21 H 15 V 18 H 14 v 2 H 5 Z' /%3E%3Cpath style='fill:%23ffffff;' d='M 7,1 H 5 V 14 h -1 V 12 H 3 V 11 H 1 v 2 h 1 v 1 h 1 v 2 H 4 V 18 h 1 v 2 H 14 V 18 h 1 V 15 H 16 V 9 H 15 V 8 H 14 v 3 H 13 V 7 H 11 V 10 H 10 V 6 H 8 V 10 H 7 Z'/%3E%3Cpath style='fill:%23000000;fill-opacity:0.5;' d='M 18,10 H 17 V 15 h -1 v 3 h -1 v 3 H 6 v 1 H 16 v -3 h 1 v -3 h 1 z M 9,2 H 8 v 3 h 1 z'/%3E%3C/svg%3E%0A") 6 0, pointer;
    --cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 22' width='18' height='22' version='1.1'%3E%3Cpath style='fill:%23000000;' d='M 3,16 H 2 v 1 H 3 Z M 4,15 H 3 v 1 H 4 Z M 5,15 V 14 H 4 v 1 H 5 m 0,2 H 6 V 15 H 5 Z m 1.9999999,2 V 17 H 6 v 2 z m 2,0 h -2 v 1 h 2 z m 0,-2 H 10 v 2 H 9 Z m 0,-2 H 8 v 2 H 9 Z M 12,12 h 1 v 2 H 8 v 1 H 7 V 13 H 12 V 12 M 8,8 V 7 H 6 V 6 h 1 v 2 h 2 v 2 H 10 V 9 H 8 V 8 M 4,4 V 3 H 2 V 2 h 1 v 2 h 2 V 6 H 6 V 5 h -2 V 4 M 11,10 h -1 v 1 h 2 v 1 H 11 V 10 M 0,0 V 18 H 2 V 17 H 1 V 2 H 2 V 1 H 1 V 0 Z' /%3E%3Cpath style='fill:%23ffffff;' d='m 9,19 h -2 V 17 H 6 V 15 H 5 V 14 H 4 v 1 H 3 v 1 H 2 v 1 H 1 V 2 H 2 V 3 H 3 V 4 H 4 V 5 H 5 V 6 H 6 V 7 H 7 V 8 H 8 V 9 H 9 V 10 H 10 v 1 h 1 v 1 h 1 v 1 H 7 v 2 h 1 v 2 h 1 z'/%3E%3Cpath style='fill:%23000000;fill-opacity:0.5;' d='M 8,15 H 14 v -2 h -1 v 1 H 8 Z M 10,17 V 16 H 9 v 1 H 10 m -2,3 v 1 H 10 v -1 h 1 v -2 h -1 v 1 H 9 v 1 z M 1,18 v 1 H 3 V 18 H 4 V 17 H 5 V 15 H 4 v 1 H 3 v 1 H 2 v 1 z'/%3E%3C/svg%3E") 0 0, default;
    --pointed: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 22' width='18' height='22' version='1.1'%3E%3Cpath style='fill:%23000000;' d='m 5,18 h -1 v 2 h 1 z m -1,-2 H 3 V 18 H 4 Z M 3,14 H 2 v 2 H 3 Z M 2,13 h -1 v 1 h 1 z M 3,10 H 0 V 13 H 1 V 11 H 3 V 10 M 5,3 H 4 l 0,8 H 3 v 1 h 1 v 2 h 1 z M 7,3 V 2 H 5 v 1 z m 3,2 H 8 V 3 H 7 V 10 H 8 V 6 h 2 z M 13,6 h -3 v 4 h 1 V 7 H 13 V 6 m 2,1 H 13 v 4 h 1 V 8 h 1 z M 16,9 H 15 V 8 H 16 v 1 m 1,6 H 16 V 9 h 1 z m -2,3 H 16 v -3 h -1 v 3 M 5,21 H 15 V 18 H 14 v 2 H 5 Z' /%3E%3Cpath style='fill:%23ffffff;' d='M 7,3 H 5 l -2e-7,11 h -1 V 12 H 3 V 11 H 1 v 2 h 1 v 1 h 1 v 2 H 4 V 18 h 1 v 2 H 14 V 18 h 1 V 15 H 16 V 9 H 15 V 8 H 14 v 3 H 13 V 7 H 11 V 10 H 10 V 6 H 8 V 10 H 7 Z'/%3E%3Cpath style='fill:%23000000;fill-opacity:0.5;' d='M 18,10 H 17 V 15 h -1 v 3 h -1 v 3 H 6 v 1 H 16 v -3 h 1 v -3 h 1 z M 9,4 H 8 v 1 h 1 z'/%3E%3C/svg%3E") 6 0, pointer;
    --green: green;
    --bubble-left-img: url("data:image/svg+xml,%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' version='1.1' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath style='fill:%23000000;' d='M 5,0 V 1 H 16 V 0 Z m 11,1 v 1 h 1 V 1 Z m 1,1 v 14 h 1 V 2 Z m 0,14 h -1 v 1 h 1 z m -1,1 H 6 v 1 H 16 Z M 6,17 V 16 H 4 v 1 z M 4,17 H 2 V 16 H 1 v 1 H 0 v 1 H 4 Z M 2,16 H 3 V 14 H 2 Z M 3,14 H 4 V 2 H 3 Z M 4,2 H 5 V 1 H 4 Z'/%3E%3Cpath style='fill:palegreen;' d='M 4,17 H 2 V 16 H 3 V 14 H 4 V 2 H 5 V 1 h 11 v 1 h 1 v 14 h -1 v 1 H 6 V 16 H 4 Z'/%3E%3C/svg%3E%0A");
    --bubble-right-img: url("data:image/svg+xml,%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' version='1.1' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath style='fill:%23000000;' d='M 13,0 V 1 H 2 V 0 Z M 2,1 V 2 H 1 V 1 Z M 1,2 V 16 H 0 V 2 Z m 0,14 h 1 v 1 H 1 Z m 1,1 h 10 v 1 H 2 Z m 10,0 v -1 h 2 v 1 z m 2,0 h 2 v -1 h 1 v 1 h 1 v 1 h -4 z m 2,-1 h -1 v -2 h 1 z M 15,14 H 14 V 2 h 1 z M 14,2 H 13 V 1 h 1 z'/%3E%3Cpath style='fill:powderblue;' d='m 14,17 h 2 V 16 H 15 V 14 H 14 V 2 H 13 V 1 H 2 V 2 H 1 v 14 h 1 v 1 h 10 v -1 h 2 z'/%3E%3C/svg%3E%0A");
    --bubble-center-img: url("data:image/svg+xml,%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' version='1.1' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath style='fill:%23000000;' d='M 2,0 V 1 H 13 V 0 Z m 11,1 v 1 h 1 V 1 Z m 1,1 v 11 h 1 V 2 Z m 0,11 h -1 v 1 h 1 z m -1,1 H 2 v 1 H 13 Z M 2,14 V 13 H 1 v 1 z M 1,13 V 2 H 0 V 13 Z M 1,2 H 2 V 1 H 1 Z'/%3E%3Cpath style='fill:%23CCC;' d='M 14,2 H 13 V 1 H 2 V 2 H 1 v 11 h 1 v 1 h 11 v -1 h 1 z'/%3E%3C/svg%3E%0A");
}